body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: gray;
}
header {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: greenyellow;
    flex-direction: row;
    flex-wrap:wrap;
}
header h1 {
  margin: 0;
  align-self: center;
}
header h3 {
  width: 80%;
  margin: 0;
  text-align: center;
}
#overflowMessage {
  color: red;
  visibility: hidden;
}
body #main {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #d0ff42;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.gombDoboz {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
}
.gombDoboz .gomb {
  width: 20%;
  height: 100px;
  background-color: #c4e652;
  font-family: "Noto Sans", serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.gombDoboz .gomb:hover {
  background-color: #a8cc35;
}

.square {
  font-size:large;
  align-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 0;
  margin-bottom: 5px;
  border-style: groove;
  border-color: black;
  cursor: grab;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.container .savContainer {
  background-color: white;
  height: 70vh;
  width: 80vw; 
}
.container p {
  margin-top: 5%;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
}
.buttonContainer p {
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 0;
  margin-bottom: 5px;
  border-style: groove;
  border-color: black;
  cursor: pointer;
}
#hidrogenButton {
  margin: 0 10px 0 0;
}
.buttonContainer p:hover {
  background-color: grey;
}
#trash {
  height: 90px;
  width: 100px;
  margin-top: 15%;
  background-color: white;
  border-style: groove;
  border-color: black;
}
#reset {
  width: 105px;
}
